<% title "Collection List" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/readinglist" />
  <meta name="description" content="Notifications inbox for dev.to">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/readinglist" />
  <meta property="og:title" content="Reading List - <%= community_qualified_name %>" />
  <meta property="og:description" content="My Saved Posts on dev.to" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Reading List - <%= community_qualified_name %>">
  <meta name="twitter:description" content="Reading List for dev.to">
<% end %>

<div class="home">
  <h1>Collections</h1>

  <form action="/collections" method="POST" class='new-collection-container' >
<<<<<<< HEAD
    <label className="create-collection-form-heading" for="title">Create Collection</label><br>
    <input type="text" id="title" name="title" class='new-collection-input' placeholder='name of collection...'> <br>
    <input type="submit" value="Save" class='new-collection-button'>
  </form>

  <br>
  <br>
=======
    <label class="create-collection-form-heading" for="title">Create Collection</label><br>
    <input type="text" id="title" name="title" maxlength='20' class='new-collection-input' placeholder='name of collection...'> <br>
    <button type="submit" disabled value="Save" class='new-collection-button'>save</button>
  </form>

  <script type="text/javascript" defer>
    const validateInputs = () => {
      if (document.querySelector('.new-collection-input').value !== '') {
        document.querySelector('.new-collection-button').disabled = false;
      } else if (document.querySelector('.new-collection-input').value === '') {
        document.querySelector('.new-collection-button').disabled = true;
      }
    }
    document.querySelector('.new-collection-input').addEventListener('keyup', validateInputs);
  </script>
>>>>>>> f36496e9d84c137b6dac79ebce65a3f00ffdbff4

  <% @collections.each do |collection| %>
    <a class='item' href="/collections/<%= collection.id %>">
      <div class="item-title">
        <ul class='collection-title'> <%= collection.title  %> </ul>
      </div>
    </a>
  <% end %>
</div>
